body,html{
		margin: 0;
/*		 background: linear-gradient(to right, #25edc5, #24eddc);*/
		width: 100%;
		width: 100wh;
		height: 90vh;
		background: linear-gradient(-45deg, #EE7752, #E73C7E, #23A6D5, #23D5AB);
		background-size: 400% 400%;
		-webkit-animation: Gradient 15s ease infinite;
		-moz-animation: Gradient 15s ease infinite;
		animation: Gradient 15s ease infinite;
		color: white;
	}

	@-webkit-keyframes Gradient {
		0% {
			background-position: 0% 50%
		}
		50% {
			background-position: 100% 50%
		}
		100% {
			background-position: 0% 50%
		}
	}

	@-moz-keyframes Gradient {
		0% {
			background-position: 0% 50%
		}
		50% {
			background-position: 100% 50%
		}
		100% {
			background-position: 0% 50%
		}
	}

	@keyframes Gradient {
		0% {
			background-position: 0% 50%
		}
		50% {
			background-position: 100% 50%
		}
		100% {
			background-position: 0% 50%
		}
	}

	.judul{
		margin: 0 auto;
		background-color: #494949;
		width:20%;
		text-align: center;
		padding-top: 10px;
		border-top-right-radius: 5px;
		border-top-left-radius: 5px;
		opacity: 0.8;
	}

	#register{
		background-color: #494949;
		opacity: 0.8;
		width: 25%;
		padding: 1%;
		border-radius: 5px;
		padding-bottom: 20px;
		align : center;
		margin: 0 auto;

	}

	input, textarea, select{
		border-radius: 3px;
		border: 0;
		padding: 3px;
		width :90%;
		margin: 10px;
	}

	.gender{
		width: 0%;
	}

	button{
		width: 45%;
		border-radius: 5px;
		border : none;
		height: 20px;
	}
	.bt_register{
		margin-left: 10px;
	}

	.container{
		    display: table-cell;
    vertical-align: middle;
	}	

	.outer{
		width : 100%;
		height :100%;
		display: table;
    	position: absolute;
	}

	.telp{
		width: 15%;
		margin-right: 0;
	}

	.telp_komplit{
		margin-left: 0;
		width: 74%;
	}